.btn-size {
    width: 100%;
}

.center-radio {
    top: 50%;
    position: inherit;
    align-items: center;
    align-content: center;
}

label {
    /* color: white; */
    font-size: 14px;
    margin-top: 4px;
    padding: 4px;
}

:host ::ng-deep .p-inputmask {
    height: 38px;
    width: 100%;
}

:host ::ng-deep .p-inputtext:hover {
    border-color: #dee2e6;
}

/* :host ::ng-deep .p-inputmask:active {
    border-color: #dee2e6;
} */
